body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-size: 20px;
    color: blueviolet;
    width: 100px;
    display: inline-block;
}

.quiz-prompts{
    list-style-type: none;
}